.DS_Store
/jspm_packages/
/node_modules/
/.idea/workspace.xml
/.idea/watcherTasks.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles
/.idea/dictionaries
/.idea/core.iml
##/Left libraries
/npm-debug.log
/esdoc/
/config.js
/.yarnclean
/yarn.lock
/package-lock.json
.yarnclean
package-lock.json
yarn.lock

